<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Portrait</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string>portrait.png</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>63</integer>
					<key>Width</key>
					<integer>134</integer>
					<key>Height</key>
					<integer>120</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>256</integer>
					<key>Y</key>
					<integer>80</integer>
					<key>Width</key>
					<integer>64</integer>
					<key>Height</key>
					<integer>60</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>181</integer>
					<key>Y</key>
					<integer>112</integer>
					<key>Width</key>
					<integer>60</integer>
					<key>Height</key>
					<integer>60</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>164</integer>
					<key>Y</key>
					<integer>200</integer>
					<key>Width</key>
					<integer>40</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>117</integer>
					<key>Y</key>
					<integer>200</integer>
					<key>Width</key>
					<integer>40</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>100</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>220</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>100</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>200</integer>
					<key>Width</key>
					<integer>40</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.paulthorsen.holiday</string>
	<key>Name</key>
	<string>Holiday</string>
</dict>
</plist>
