<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.paulthorsen.gengar</string>
	<key>Name</key>
	<string>Gengar</string>
	<key>Portrait</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string>portrait.png</string>
			<key>Retina</key>
			<string>portrait@2x.png</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>40</integer>
					<key>Width</key>
					<integer>155</integer>
					<key>Height</key>
					<integer>155</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>245</integer>
					<key>Y</key>
					<integer>66</integer>
					<key>Width</key>
					<integer>75</integer>
					<key>Height</key>
					<integer>75</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>185</integer>
					<key>Y</key>
					<integer>105</integer>
					<key>Width</key>
					<integer>75</integer>
					<key>Height</key>
					<integer>75</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>161</integer>
					<key>Y</key>
					<integer>195</integer>
					<key>Width</key>
					<integer>45</integer>
					<key>Height</key>
					<integer>45</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>111</integer>
					<key>Y</key>
					<integer>195</integer>
					<key>Width</key>
					<integer>45</integer>
					<key>Height</key>
					<integer>45</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>100</integer>
					<key>Height</key>
					<integer>35</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>220</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>100</integer>
					<key>Height</key>
					<integer>35</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>195</integer>
					<key>Width</key>
					<integer>45</integer>
					<key>Height</key>
					<integer>45</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
