<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.paulthorsen.marioandluigi</string>
	<key>Name</key>
	<string>Mario + Luigi</string>
	<key>Portrait</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string>portrait@2x.png</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>14</integer>
					<key>Y</key>
					<integer>64</integer>
					<key>Width</key>
					<integer>121</integer>
					<key>Height</key>
					<integer>121</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>254</integer>
					<key>Y</key>
					<integer>138</integer>
					<key>Width</key>
					<integer>50</integer>
					<key>Height</key>
					<integer>50</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>257</integer>
					<key>Y</key>
					<integer>75</integer>
					<key>Width</key>
					<integer>50</integer>
					<key>Height</key>
					<integer>50</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>196</integer>
					<key>Y</key>
					<integer>108</integer>
					<key>Width</key>
					<integer>50</integer>
					<key>Height</key>
					<integer>50</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>173</integer>
					<key>Y</key>
					<integer>204</integer>
					<key>Width</key>
					<integer>28</integer>
					<key>Height</key>
					<integer>28</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>123</integer>
					<key>Y</key>
					<integer>204</integer>
					<key>Width</key>
					<integer>28</integer>
					<key>Height</key>
					<integer>28</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>10</integer>
					<key>Y</key>
					<integer>11</integer>
					<key>Width</key>
					<integer>81</integer>
					<key>Height</key>
					<integer>42</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>229</integer>
					<key>Y</key>
					<integer>11</integer>
					<key>Width</key>
					<integer>81</integer>
					<key>Height</key>
					<integer>42</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>13</integer>
					<key>Y</key>
					<integer>204</integer>
					<key>Width</key>
					<integer>28</integer>
					<key>Height</key>
					<integer>28</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
