<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>com.paulthorsen.purplesp</string>
	<key>Name</key>
	<string>Purple SP</string>
	<key>Portrait</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string>portrait.png</string>
			<key>Retina</key>
			<string>portrait@2x.png</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>23</integer>
					<key>Y</key>
					<integer>58</integer>
					<key>Width</key>
					<integer>120</integer>
					<key>Height</key>
					<integer>120</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>262</integer>
					<key>Y</key>
					<integer>74</integer>
					<key>Width</key>
					<integer>45</integer>
					<key>Height</key>
					<integer>45</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>202</integer>
					<key>Y</key>
					<integer>108</integer>
					<key>Width</key>
					<integer>45</integer>
					<key>Height</key>
					<integer>45</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>176</integer>
					<key>Y</key>
					<integer>202</integer>
					<key>Width</key>
					<integer>33</integer>
					<key>Height</key>
					<integer>33</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>122</integer>
					<key>Y</key>
					<integer>202</integer>
					<key>Width</key>
					<integer>33</integer>
					<key>Height</key>
					<integer>33</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>80</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>240</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>80</integer>
					<key>Height</key>
					<integer>40</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>5</integer>
					<key>Y</key>
					<integer>202</integer>
					<key>Width</key>
					<integer>33</integer>
					<key>Height</key>
					<integer>33</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
