<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Portrait</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string></string>
			<key>iPhone Widescreen</key>
			<string></string>
			<key>iPad</key>
			<string></string>
			<key>iPad Retina</key>
			<string></string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>iPhone Widescreen</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>iPad</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.GBA4iOS.gbc</string>
	<key>Name</key>
	<string>Gameboy Color</string>
	<key>Landscape</key>
	<dict>
		<key>Assets</key>
		<dict>
			<key>iPhone</key>
			<string>landscape.png</string>
			<key>iPhone Widescreen</key>
			<string>landscape@R4.png</string>
			<key>iPad</key>
			<string></string>
			<key>iPad Retina</key>
			<string></string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>iPhone</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>iPhone Widescreen</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>164</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>240</integer>
					<key>Height</key>
					<integer>216</integer>
				</dict>
			</dict>
			<key>iPad</key>
			<dict>
				<key>D-Pad</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>A</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>B</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>AB</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Select</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>L</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>R</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Menu</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
				<key>Screen</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
