<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GBA4iOS-Simulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GBA4iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC1B66B417BF4D77007B2787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC275BB317A5075E006243FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2B67D217BEBA7C00084E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2B67F117BEBF1100084E95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2BC0B517C55F50007CF771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2D56FB1798F2EC00C616EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC2D571F1798F2ED00C616EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475AB217BEC6E800C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475AC817BEC6E800C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475AE317BEC7DE00C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475AFD17BEC82400C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475B2817BED6F900C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC475B4417BED6F900C53369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC575688180C727C00BF3DA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC57569E180C727D00BF3DA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC96EF6417C2959800C7DD0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC96EF7A17C2959900C7DD0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC96F01217C29B7900C7DD0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE93EF417BEDD0C008EADAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
