<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>Dario Sepulveda</string>
			<key>twitterUsername</key>
			<string>mithical</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Emu4iOS</string>
			<key>twitterUsername</key>
			<string>Emu4iOS</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Smallcut Powers</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string>http://smallcutpowers.weebly.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frederick Neubauer III</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string>http://themicrosoftgamer.tumblr.com</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>Jaryth Frenette</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string>http://jaryth.net</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Joe Cassano</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Oscar David Torres</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dave Race</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Martin Michaud-Couch</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jake Tarrant</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jaryth</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>William Stafford</string>
			<key>twitterUsername</key>
			<string>Wrsford</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>i0s1q</string>
			<key>twitterUsername</key>
			<string>i0s1q</string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ismael Lamas</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nicholas Doglio</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>David &apos;Diggy&apos; Richardson</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alex Jackson</string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>twitterUsername</key>
			<string></string>
			<key>url</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
