<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Orientation</key>
	<string>Portrait</string>
	<key>Asset Catelog</key>
	<string></string>
	<key>Layout</key>
	<dict>
		<key>iPhone</key>
		<dict>
			<key>D-Pad</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>100</integer>
					<key>Y</key>
					<integer>120</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>120</integer>
					<key>Height</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>A</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>B</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>AB</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>L</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>R</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Start</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Select</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Menu</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>Retina 4</key>
		<dict>
			<key>D-Pad</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>A</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>B</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>AB</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>L</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>R</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Start</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Select</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Menu</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>iPad</key>
		<dict>
			<key>D-Pad</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>A</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>B</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>AB</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>L</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>R</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Start</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Select</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Menu</key>
			<dict>
				<key>Origin</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Center</key>
				<dict>
					<key>X</key>
					<integer>0</integer>
					<key>Y</key>
					<integer>0</integer>
				</dict>
				<key>Size</key>
				<dict>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Assets</key>
	<dict>
		<key>iPhone</key>
		<string>default</string>
		<key>Retina</key>
		<string>default@2x</string>
		<key>Retina 4</key>
		<string></string>
		<key>iPad</key>
		<string></string>
		<key>iPad Retina</key>
		<string></string>
	</dict>
</dict>
</plist>
